out/production/Comp9103Assignment/com/company/Main.class
out/production/Comp9103Assignment/COMP9103/Contact.class
out/production/Comp9103Assignment/COMP9103/formatContact.class
out/production/Comp9103Assignment/COMP9103/FormatDate.class
out/production/Comp9103Assignment/COMP9103/instructions_4.txt
out/production/Comp9103Assignment/COMP9103/instructionSample.txt
out/production/Comp9103Assignment/COMP9103/instructionSample2.txt
out/production/Comp9103Assignment/COMP9103/IsValid.class
out/production/Comp9103Assignment/COMP9103/Main.class
out/production/Comp9103Assignment/COMP9103/OperateFiles.class
out/production/Comp9103Assignment/COMP9103/Operation.class
out/production/Comp9103Assignment/COMP9103/phoneSampl.txt
out/production/Comp9103Assignment/META-INF/Comp9103Assignment.kotlin_module
out/production/Comp9103Assignment/test/test.class
out/*
